body {
    background-color: black;
}

.post {
    width: 600px;
    height: 800px;
    background-color: white;
    position: absolute; 
    left: 0%;
    right: 0%;
    margin: auto;
    top: 0%;
    bottom: 0%;
}

.post-header {
    display: flex;
}

.fa-html5 {
    flex: 1 1 33%;
    margin: 30px;
    font-size: 40px;
}

.titulo {
    flex: 1 1 33%;
    padding-top: 13px;
    font-size: 110%;
}


.fa-ellipsis-vertical {
    flex: 1 1 33%;
    margin: 30px;
    font-size: 200%;
}


.foto {
    width: 100%;
    height: 500px;
}

#save {
    display: inline-block
}

header {
    font-family: 'Handlee', cursive;
    font-family: 'Roboto', sans-serif;
    padding-top: 16px;
}

.interacciones {
    margin: 20px;
    font-size: 175%;
}

#save {
    margin-left: 75%;
}

.fa-heart {
    margin-right: 10px;
}


.fa-paper-plane {
    margin-left: 10px;
}

.likes {
    margin: 20px;
}

.descripcion {
    margin: 20px;
}